# Clase 1 - Introducción a pandas

En este notebook vamos a ver una introducción a los comandos iniciales de la biblioteca pandas para Python. [Pandas](https://pandas.pydata.org) es una biblioteca sponsoreada por [NumFOCUS](https://numfocus.org/sponsored-projects).

La descripción en su página la define como:

> pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

# Estructuras de datos

Dos estructuras fundamentales dentro de pandas son Series y DataFrames. Los dataframes son tablas de datos. Cada columna es una Series.

Para comenzar, vamos a crear nuestro primer DataFrame a partir de un archivo CSV que contiene un [dataset sobre superhéroes](https://www.kaggle.com/claudiodavi/superhero-set/home).

In [1]:
from collections import Counter

In [2]:
import pandas as pd

df = pd.read_csv('../../datasets/superheroes.csv')

También podemos crear dataframes desde listas, diccionarios y otras estructuras.

## Inspeccionando un dataframe

In [3]:
# vemos los primeros elementos
df.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [4]:
df.tail()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0
733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0

In [5]:
df.sample()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
517,Phantom Girl,Female,blue,-,Black,168.0,DC Comics,-,good,54.0

In [6]:
df.sample(10)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
77,Ben 10,Male,-,-,-,-99.0,DC Comics,-,good,-99.0
19,Amazo,Male,red,Android,-,257.0,DC Comics,-,bad,173.0
85,Binary,Female,blue,-,Blond,180.0,Marvel Comics,-,good,54.0
61,Bantam,Male,brown,-,Black,165.0,Marvel Comics,-,good,54.0
636,Static,Male,brown,Mutant,Black,170.0,DC Comics,-,good,63.0
488,Negasonic Teenage Warhead,Female,black,Mutant,Black,-99.0,Marvel Comics,-,good,-99.0
510,Paul Blart,Male,-,Human,-,170.0,Sony Pictures,-,good,117.0
242,Energy,Female,-,-,-,-99.0,HarperCollins,-,good,-99.0
210,Dazzler,Female,blue,Mutant,Blond,173.0,Marvel Comics,-,good,52.0
84,Billy Kincaid,Male,-,-,-,-99.0,Image Comics,-,bad,-99.0

## Información sobre un dataframe

In [7]:
# descripción de cada columna e información general del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        734 non-null    object
 1   Gender      734 non-null    object
 2   Eye color   734 non-null    object
 3   Race        734 non-null    object
 4   Hair color  734 non-null    object
 5   Height      734 non-null    float64
 6   Publisher   719 non-null    object
 7   Skin color  734 non-null    object
 8   Alignment   734 non-null    object
 9   Weight      732 non-null    float64
dtypes: float64(2), object(8)
memory usage: 57.5+ KB

La última columna, `Dtype` nos dice qué tipo de dato interpreta pandas que es esa columna. Las columnas de tipo `str` son interpretadas con `dtype` del tipo `object`.

In [8]:
# resumen estadístico de las columnas numéricas
df.describe()

           Height      Weight
count  734.000000  732.000000
mean   102.254087   43.855191
std    139.624543  130.823733
min    -99.000000  -99.000000
25%    -99.000000  -99.000000
50%    175.000000   62.000000
75%    185.000000   90.000000
max    975.000000  900.000000

In [9]:
# si queremos ver la cantidad de nulos en cada columna
# creamos una máscara binaria y la sumamos
df.isnull().sum()

name           0
Gender         0
Eye color      0
Race           0
Hair color     0
Height         0
Publisher     15
Skin color     0
Alignment      0
Weight         2
dtype: int64

# Cómo obtener valores que nos interesan

## Por índices

In [10]:
df.index

RangeIndex(start=0, stop=734, step=1)

In [11]:
df = df.set_index('name')
df

,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
name,,,,,,,,,
A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
...,...,...,...,...,...,...,...,...,...
Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0
Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0

In [12]:
df.index

Index(['A-Bomb', 'Abe Sapien', 'Abin Sur', 'Abomination', 'Abraxas',
       'Absorbing Man', 'Adam Monroe', 'Adam Strange', 'Agent 13', 'Agent Bob',
       ...
       'Wyatt Wingfoot', 'X-23', 'X-Man', 'Yellow Claw', 'Yellowjacket',
       'Yellowjacket II', 'Ymir', 'Yoda', 'Zatanna', 'Zoom'],
      dtype='object', name='name', length=734)

In [13]:
hero = df.loc['Aurora']

hero

Gender               Female
Eye color              blue
Race                 Mutant
Hair color            Black
Height                  180
Publisher     Marvel Comics
Skin color                -
Alignment              good
Weight                   63
Name: Aurora, dtype: object

In [14]:
hero = df.iloc[55]

hero

Gender               Female
Eye color              blue
Race                 Mutant
Hair color            Black
Height                  180
Publisher     Marvel Comics
Skin color                -
Alignment              good
Weight                   63
Name: Aurora, dtype: object

In [15]:
heroes = df.loc['Aurora':'Banshee']

heroes

,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
name,,,,,,,,,
Aurora,Female,blue,Mutant,Black,180.0,Marvel Comics,-,good,63.0
Azazel,Male,yellow,Neyaphem,Black,183.0,Marvel Comics,red,bad,67.0
Azrael,Male,brown,Human,Black,-99.0,DC Comics,-,good,-99.0
Aztar,Male,-,-,-,-99.0,DC Comics,-,good,-99.0
Bane,Male,-,Human,-,203.0,DC Comics,-,bad,180.0
Banshee,Male,green,Human,Strawberry Blond,183.0,Marvel Comics,-,good,77.0

In [16]:
heroes = df.iloc[55:60]

heroes

,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
name,,,,,,,,,
Aurora,Female,blue,Mutant,Black,180.0,Marvel Comics,-,good,63.0
Azazel,Male,yellow,Neyaphem,Black,183.0,Marvel Comics,red,bad,67.0
Azrael,Male,brown,Human,Black,-99.0,DC Comics,-,good,-99.0
Aztar,Male,-,-,-,-99.0,DC Comics,-,good,-99.0
Bane,Male,-,Human,-,203.0,DC Comics,-,bad,180.0

## Obtener columnas

In [17]:
df.Race

name
A-Bomb                         Human
Abe Sapien             Icthyo Sapien
Abin Sur                     Ungaran
Abomination        Human / Radiation
Abraxas                Cosmic Entity
                         ...
Yellowjacket II                Human
Ymir                     Frost Giant
Yoda                  Yoda's species
Zatanna                        Human
Zoom                               -
Name: Race, Length: 734, dtype: object

In [18]:
df['Race']

name
A-Bomb                         Human
Abe Sapien             Icthyo Sapien
Abin Sur                     Ungaran
Abomination        Human / Radiation
Abraxas                Cosmic Entity
                         ...
Yellowjacket II                Human
Ymir                     Frost Giant
Yoda                  Yoda's species
Zatanna                        Human
Zoom                               -
Name: Race, Length: 734, dtype: object

## Obtener un subconjunto de columnas

In [19]:
df[['Race', 'Skin color']]

                              Race Skin color
name
A-Bomb                       Human          -
Abe Sapien           Icthyo Sapien       blue
Abin Sur                   Ungaran        red
Abomination      Human / Radiation          -
Abraxas              Cosmic Entity          -
...                            ...        ...
Yellowjacket II              Human          -
Ymir                   Frost Giant      white
Yoda                Yoda's species      green
Zatanna                      Human          -
Zoom                             -          -

[734 rows x 2 columns]

## Obtener filas

In [20]:
condition = df['Skin color'] == 'blue'

In [21]:
condition.head()

name
A-Bomb         False
Abe Sapien      True
Abin Sur       False
Abomination    False
Abraxas        False
Name: Skin color, dtype: bool

Si ahora queremos filtrar y quedarnos solamente con los datos que cumplen la condición:

In [22]:
df[df['Skin color'] == 'blue']

,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
name,,,,,,,,,
Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
Archangel,Male,blue,Mutant,Blond,183.0,Marvel Comics,blue,good,68.0
Beast,Male,blue,Mutant,Blue,180.0,Marvel Comics,blue,good,181.0
Copycat,Female,red,Mutant,White,183.0,Marvel Comics,blue,neutral,67.0
Dr Manhattan,Male,white,Human / Cosmic,No Hair,-99.0,DC Comics,blue,good,-99.0
Killer Frost,Female,blue,Human,Blond,-99.0,DC Comics,blue,bad,-99.0
Mystique,Female,yellow (without irises),Mutant,Red / Orange,178.0,Marvel Comics,blue,bad,54.0
Nebula,Female,blue,Luphomoid,No Hair,185.0,Marvel Comics,blue,bad,83.0
Shadow Lass,Female,black,Talokite,Black,173.0,DC Comics,blue,good,54.0

## Múltiples condiciones

In [23]:
df[(df['Skin color'] == 'blue') & (df['Publisher'] == 'Marvel Comics')]

,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
name,,,,,,,,,
Archangel,Male,blue,Mutant,Blond,183.0,Marvel Comics,blue,good,68.0
Beast,Male,blue,Mutant,Blue,180.0,Marvel Comics,blue,good,181.0
Copycat,Female,red,Mutant,White,183.0,Marvel Comics,blue,neutral,67.0
Mystique,Female,yellow (without irises),Mutant,Red / Orange,178.0,Marvel Comics,blue,bad,54.0
Nebula,Female,blue,Luphomoid,No Hair,185.0,Marvel Comics,blue,bad,83.0

In [24]:
df[(df['Skin color'] == 'blue') | (df['Skin color'] == 'green')].sample(10)

,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
name,,,,,,,,,
Mantis,Female,green,Human-Kree,Black,168.0,Marvel Comics,green,good,52.0
Michelangelo,Male,blue,Mutant,-,-99.0,IDW Publishing,green,good,-99.0
Shadow Lass,Female,black,Talokite,Black,173.0,DC Comics,blue,good,54.0
Gamora,Female,yellow,Zen-Whoberian,Black,183.0,Marvel Comics,green,good,77.0
Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
Copycat,Female,red,Mutant,White,183.0,Marvel Comics,blue,neutral,67.0
Beast,Male,blue,Mutant,Blue,180.0,Marvel Comics,blue,good,181.0
Donatello,Male,green,Mutant,No Hair,-99.0,IDW Publishing,green,good,-99.0
Fin Fang Foom,Male,red,Kakarantharaian,No Hair,975.0,Marvel Comics,green,good,18.0
Triton,Male,green,Inhuman,No Hair,188.0,Marvel Comics,green,good,86.0

# Transformaciones de datos

## Apply

Mediante apply podemos aplicar una función definida aparte a nuestro set de datos

In [25]:
def rate_height(height):
    if height >= 200:
        return "Tall"
    else:
        return "Not tall"

In [26]:
altos = df['Height'].apply(rate_height)
altos

name
A-Bomb                 Tall
Abe Sapien         Not tall
Abin Sur           Not tall
Abomination            Tall
Abraxas            Not tall
                     ...
Yellowjacket II    Not tall
Ymir                   Tall
Yoda               Not tall
Zatanna            Not tall
Zoom               Not tall
Name: Height, Length: 734, dtype: object

Aprovechamos a ver como asignar una nueva columna

In [27]:
df['Tallness'] = df['Height'].apply(rate_height)

In [28]:
df

,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight,Tallness
name,,,,,,,,,,
A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0,Tall
Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0,Not tall
Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0,Not tall
Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0,Tall
Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0,Not tall
...,...,...,...,...,...,...,...,...,...,...
Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0,Not tall
Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0,Tall
Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0,Not tall
Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0,Not tall
Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0,Not tall

## Replace

Vemos por ejemplo que 'Skin color' usa '-' para indicar valores vacíos. Corrijamos esto.

In [29]:
df['Skin color'].replace({"-": None}, inplace=True)

In [30]:
df['Skin color']

name
A-Bomb              None
Abe Sapien          blue
Abin Sur             red
Abomination         None
Abraxas             None
                   ...
Yellowjacket II     None
Ymir               white
Yoda               green
Zatanna             None
Zoom                None
Name: Skin color, Length: 734, dtype: object

## Eliminar filas con nulos

In [31]:
df = df.dropna(subset=['Skin color'])

# Unir información de distintas tablas

Veamos si hay razas que tengan el mismo color de piel.

In [32]:
df.merge(df, left_on='Skin color', right_on='Skin color')[['Race_x', 'Race_y']]

            Race_x          Race_y
0    Icthyo Sapien   Icthyo Sapien
1    Icthyo Sapien          Mutant
2    Icthyo Sapien          Mutant
3    Icthyo Sapien          Mutant
4    Icthyo Sapien  Human / Cosmic
..             ...             ...
729        Eternal         Eternal
730         Gungan          Gungan
731        Android         Android
732       Czarnian        Czarnian
733     Tamaranean      Tamaranean

[734 rows x 2 columns]

Tenemos duplicados!

In [33]:
df.merge(df, left_on='Skin color', right_on='Skin color')[
    ['Race_x', 'Race_y']
].drop_duplicates()

            Race_x          Race_y
0    Icthyo Sapien   Icthyo Sapien
1    Icthyo Sapien          Mutant
4    Icthyo Sapien  Human / Cosmic
5    Icthyo Sapien           Human
7    Icthyo Sapien       Luphomoid
..             ...             ...
728        Eternal           Human
729        Eternal         Eternal
730         Gungan          Gungan
732       Czarnian        Czarnian
733     Tamaranean      Tamaranean

[410 rows x 2 columns]

Tenemos que sacar los que son iguales en ambas columnas!

In [34]:
same_skin_color = df.merge(df, left_on='Skin color', right_on='Skin color')[
    ['Race_x', 'Race_y']
].drop_duplicates()
same_skin_color[same_skin_color.Race_x != same_skin_color.Race_y]

            Race_x          Race_y
1    Icthyo Sapien          Mutant
4    Icthyo Sapien  Human / Cosmic
5    Icthyo Sapien           Human
7    Icthyo Sapien       Luphomoid
8    Icthyo Sapien        Talokite
..             ...             ...
723      Strontian         Eternal
724          Human       Strontian
726          Human         Eternal
727        Eternal       Strontian
728        Eternal           Human

[372 rows x 2 columns]

Por último, para ver los pares únicos

In [35]:
same_skin_color = df.merge(df, left_on='Skin color', right_on='Skin color')[
    ['Race_x', 'Race_y']
].drop_duplicates()
same_skin_color[
    (same_skin_color.Race_x != same_skin_color.Race_y)
    & (same_skin_color.Race_x > same_skin_color.Race_y)
]

            Race_x          Race_y
4    Icthyo Sapien  Human / Cosmic
5    Icthyo Sapien           Human
9           Mutant   Icthyo Sapien
13          Mutant  Human / Cosmic
14          Mutant           Human
..             ...             ...
708         Cyborg         Android
719         Mutant           Demon
722      Strontian           Human
723      Strontian         Eternal
726          Human         Eternal

[186 rows x 2 columns]

### Concatenar tablas

In [36]:
df_1 = pd.DataFrame({'col_1': range(1, 10), 'col_2': range(1, 10)})
df_2 = pd.DataFrame({'col_1': range(11, 20), 'col_2': range(11, 20)})

In [37]:
df_1.pipe(len)

9

In [38]:
df_2.pipe(len)

9

In [39]:
df_1.head()

   col_1  col_2
0      1      1
1      2      2
2      3      3
3      4      4
4      5      5

In [40]:
df_2.head()

   col_1  col_2
0     11     11
1     12     12
2     13     13
3     14     14
4     15     15

In [41]:
df_concat = pd.concat([df_1, df_2])
df_concat

   col_1  col_2
0      1      1
1      2      2
2      3      3
3      4      4
4      5      5
5      6      6
6      7      7
7      8      8
8      9      9
0     11     11
1     12     12
2     13     13
3     14     14
4     15     15
5     16     16
6     17     17
7     18     18
8     19     19

In [42]:
df_concat.pipe(len)

18

# Agrupaciones

## Groupby

In [43]:
# queremos ver los nombres
df = df.reset_index()

In [44]:
df.groupby("Race")

In [45]:
df.columns

Index(['name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height',
       'Publisher', 'Skin color', 'Alignment', 'Weight', 'Tallness'],
      dtype='object')

In [46]:
def perc_good(grouping):
    """Devuelve el porcentaje que son 'good'."""
    return (grouping == 'good').mean() * 100.0


df.groupby("Race").agg(
    {
        'name': 'count',
        'Height': ['mean', 'std'],
        'Weight': ['mean', 'std'],
        'Alignment': perc_good,
    }
).head(20)

                    name      Height               Weight              \
                   count        mean         std     mean         std
Race
-                      2   57.000000  220.617316   63.000  229.102597
Alien                  4  194.500000    4.434712  100.500    4.041452
Android                5  198.200000   11.861703  129.600  152.600131
Bizarro                1  191.000000         NaN  155.000         NaN
Bolovaxian             1  234.000000         NaN  324.000         NaN
Cosmic Entity          1  -99.000000         NaN  -99.000         NaN
Cyborg                 1  -99.000000         NaN  149.000         NaN
Czarnian               1  229.000000         NaN  288.000         NaN
Dathomirian Zabrak     1  170.000000         NaN  -99.000         NaN
Demon                  2  192.000000    1.414214  153.500   70.003571
Eternal                1  201.000000         NaN  443.000         NaN
Frost Giant            1  304.800000         NaN  -99.000         NaN
God / Eternal          3  -99.000000    0.000000  -99.000    0.000000
Gungan                 1  193.000000         NaN  -99.000         NaN
Human                  8  145.500000   99.215494   66.625   82.652349
Human / Altered        1  193.000000         NaN  306.000         NaN
Human / Cosmic         2   32.000000  185.261977  -20.000  111.722871
Human / Radiation      3  216.666667   25.696952  450.000  311.769145
Human-Kree             1  168.000000         NaN   52.000         NaN
Icthyo Sapien          1  191.000000         NaN   65.000         NaN

                     Alignment
                     perc_good
Race
-                   100.000000
Alien                75.000000
Android              40.000000
Bizarro               0.000000
Bolovaxian          100.000000
Cosmic Entity         0.000000
Cyborg                0.000000
Czarnian              0.000000
Dathomirian Zabrak    0.000000
Demon                 0.000000
Eternal               0.000000
Frost Giant         100.000000
God / Eternal        33.333333
Gungan              100.000000
Human                25.000000
Human / Altered     100.000000
Human / Cosmic      100.000000
Human / Radiation    66.666667
Human-Kree          100.000000
Icthyo Sapien       100.000000

Algunas agregaciones tienen métodos para realizarlos directamente

In [47]:
df.Race.value_counts()

Mutant                13
Human                  8
Android                5
Alien                  4
Human / Radiation      3
God / Eternal          3
Human / Cosmic         2
Demon                  2
-                      2
New God                2
Xenomorph XX121        1
Eternal                1
Inhuman                1
Bolovaxian             1
Zen-Whoberian          1
Korugaran              1
Czarnian               1
Cyborg                 1
Martian                1
Kakarantharaian        1
Dathomirian Zabrak     1
Kaiju                  1
Neyaphem               1
Cosmic Entity          1
Ungaran                1
Talokite               1
Metahuman              1
Frost Giant            1
Gungan                 1
Rodian                 1
Human-Kree             1
Strontian              1
Tamaranean             1
Icthyo Sapien          1
Human / Altered        1
Bizarro                1
Yoda's species         1
Luphomoid              1
Name: Race, dtype: int64

## Pivoting

In [48]:
pd.pivot_table(
    df,
    index='Race',
    columns=['Gender'],
    values=['Height', 'Weight', 'Alignment'],
    aggfunc={
        'Height': 'mean',
        'Weight': 'mean',
        'Alignment': lambda x: Counter(x).most_common(1)[0][0],
    },
)

                   Alignment                 Height                          \
Gender                     - Female     Male      -      Female        Male
Race
-                        NaN    NaN     good    NaN         NaN   57.000000
Alien                    NaN   good     good    NaN  193.000000  195.000000
Android                  NaN    NaN      bad    NaN         NaN  198.200000
Bizarro                  NaN    NaN  neutral    NaN         NaN  191.000000
Bolovaxian               NaN    NaN     good    NaN         NaN  234.000000
Cosmic Entity        neutral    NaN      NaN  -99.0         NaN         NaN
Cyborg                   NaN    bad      NaN    NaN  -99.000000         NaN
Czarnian                 NaN    NaN  neutral    NaN         NaN  229.000000
Dathomirian Zabrak       NaN    NaN      bad    NaN         NaN  170.000000
Demon                    NaN    NaN      bad    NaN         NaN  192.000000
Eternal                  NaN    NaN      bad    NaN         NaN  201.000000
Frost Giant              NaN    NaN     good    NaN         NaN  304.800000
God / Eternal            NaN    NaN      bad    NaN         NaN  -99.000000
Gungan                   NaN    NaN     good    NaN         NaN  193.000000
Human                    NaN    bad      bad    NaN   80.666667  184.400000
Human / Altered          NaN    NaN     good    NaN         NaN  193.000000
Human / Cosmic           NaN   good     good    NaN  163.000000  -99.000000
Human / Radiation        NaN    NaN     good    NaN         NaN  216.666667
Human-Kree               NaN   good      NaN    NaN  168.000000         NaN
Icthyo Sapien            NaN    NaN     good    NaN         NaN  191.000000
Inhuman                  NaN    NaN     good    NaN         NaN  188.000000
Kaiju                    bad    NaN      NaN  108.0         NaN         NaN
Kakarantharaian          NaN    NaN     good    NaN         NaN  975.000000
Korugaran                NaN    NaN  neutral    NaN         NaN  201.000000
Luphomoid                NaN    bad      NaN    NaN  185.000000         NaN
Martian                  NaN    NaN     good    NaN         NaN  201.000000
Metahuman                NaN    NaN      bad    NaN         NaN  244.000000
Mutant                   NaN   good     good    NaN  175.333333   73.400000
New God                  NaN    NaN      bad    NaN         NaN  225.000000
Neyaphem                 NaN    NaN      bad    NaN         NaN  183.000000
Rodian                   NaN    NaN      bad    NaN         NaN  170.000000
Strontian                NaN    NaN  neutral    NaN         NaN  198.000000
Talokite                 NaN   good      NaN    NaN  173.000000         NaN
Tamaranean               NaN   good      NaN    NaN  193.000000         NaN
Ungaran                  NaN    NaN     good    NaN         NaN  185.000000
Xenomorph XX121          NaN    NaN      bad    NaN         NaN  244.000000
Yoda's species           NaN    NaN     good    NaN         NaN   66.000000
Zen-Whoberian            NaN   good      NaN    NaN  183.000000         NaN

                   Weight
Gender                  -      Female        Male
Race
-                     NaN         NaN   63.000000
Alien                 NaN   98.000000  101.333333
Android               NaN         NaN  129.600000
Bizarro               NaN         NaN  155.000000
Bolovaxian            NaN         NaN  324.000000
Cosmic Entity       -99.0         NaN         NaN
Cyborg                NaN  149.000000         NaN
Czarnian              NaN         NaN  288.000000
Dathomirian Zabrak    NaN         NaN  -99.000000
Demon                 NaN         NaN  153.500000
Eternal               NaN         NaN  443.000000
Frost Giant           NaN         NaN  -99.000000
God / Eternal         NaN         NaN  -99.000000
Gungan                NaN         NaN  -99.000000
Human                 NaN    1.666667  105.600000
Human / Altered       NaN         NaN  306.000000
Human / Cosmic        NaN   59.000000  -99.000000
Human / Radiation     NaN         NaN  450.000000
Human-Kree            NaN   52.000000         NaN
Icthyo Sapien         NaN         NaN   65.000000
Inhuman               NaN         NaN   86.000000
Kaiju                 NaN         NaN         NaN
Kakarantharaian       NaN         NaN   18.000000
Korugaran             NaN         NaN   92.000000
Luphomoid             NaN   83.000000         NaN
Martian               NaN         NaN  135.000000
Metahuman             NaN         NaN  356.000000
Mutant                NaN   59.000000   19.900000
New God               NaN         NaN  454.000000
Neyaphem              NaN         NaN   67.000000
Rodian                NaN         NaN  -99.000000
Strontian             NaN         NaN  268.000000
Talokite              NaN   54.000000         NaN
Tamaranean            NaN   71.000000         NaN
Ungaran               NaN         NaN   90.000000
Xenomorph XX121       NaN         NaN  169.000000
Yoda's species        NaN         NaN   17.000000
Zen-Whoberian         NaN   77.000000         NaN

# Sobre vistas y columnas

In [49]:
df_marvel = df[df.Publisher == 'Marvel Comics']

In [50]:
def alignment_to_numeric(alignment):
    return {'bad': -1, 'good': 1, 'neutral': 0}[alignment]


df_marvel['numeric_alineation'] = df_marvel.Alignment.apply(alignment_to_numeric)

/opt/hostedtoolcache/Python/3.7.9/x64/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [51]:
df_marvel.loc[:, 'numeric_alineation'] = df_marvel.Alignment.apply(alignment_to_numeric)

/opt/hostedtoolcache/Python/3.7.9/x64/lib/python3.7/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [52]:
df_marvel.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight,Tallness,numeric_alineation
3,Apocalypse,Male,red,Mutant,Black,213.0,Marvel Comics,grey,bad,135.0,Tall,-1
4,Archangel,Male,blue,Mutant,Blond,183.0,Marvel Comics,blue,good,68.0,Not tall,1
5,Ardina,Female,white,Alien,Orange,193.0,Marvel Comics,gold,good,98.0,Not tall,1
6,Azazel,Male,yellow,Neyaphem,Black,183.0,Marvel Comics,red,bad,67.0,Not tall,-1
7,Beast,Male,blue,Mutant,Blue,180.0,Marvel Comics,blue,good,181.0,Not tall,1

In [53]:
df_marvel.numeric_alineation.mean()

0.11428571428571428

# Ordenando

In [54]:
df.sort_index()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight,Tallness
0,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0,Not tall
1,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0,Not tall
2,Alien,Male,-,Xenomorph XX121,No Hair,244.0,Dark Horse Comics,black,bad,169.0,Tall
3,Apocalypse,Male,red,Mutant,Black,213.0,Marvel Comics,grey,bad,135.0,Tall
4,Archangel,Male,blue,Mutant,Blond,183.0,Marvel Comics,blue,good,68.0,Not tall
...,...,...,...,...,...,...,...,...,...,...,...
67,Triton,Male,green,Inhuman,No Hair,188.0,Marvel Comics,green,good,86.0,Not tall
68,Ultron,Male,red,Android,-,206.0,Marvel Comics,silver,bad,331.0,Tall
69,Vision,Male,gold,Android,No Hair,191.0,Marvel Comics,red,good,135.0,Not tall
70,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0,Tall
71,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0,Not tall

In [55]:
df.sort_values(by=['Height', 'Weight'], ascending=False)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight,Tallness
25,Fin Fang Foom,Male,red,Kakarantharaian,No Hair,975.0,Marvel Comics,green,good,18.0,Tall
70,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0,Tall
16,Darkseid,Male,red,New God,No Hair,267.0,DC Comics,grey,bad,817.0,Tall
30,Hulk,Male,green,Human / Radiation,Green,244.0,Marvel Comics,green,good,630.0,Tall
34,Killer Croc,Male,red,Metahuman,No Hair,244.0,DC Comics,green,bad,356.0,Tall
...,...,...,...,...,...,...,...,...,...,...,...
45,Michelangelo,Male,blue,Mutant,-,-99.0,IDW Publishing,green,good,-99.0,Not tall
51,Raphael,Male,-,Mutant,No Hair,-99.0,IDW Publishing,green,good,-99.0,Not tall
56,Spectre,Male,white,God / Eternal,No Hair,-99.0,DC Comics,white,good,-99.0,Not tall
59,Swamp Thing,Male,red,God / Eternal,No Hair,-99.0,DC Comics,green,bad,-99.0,Not tall
66,Trigon,Male,yellow,God / Eternal,Black,-99.0,DC Comics,red,bad,-99.0,Not tall

# Operaciones de strings

In [56]:
df.name.str.lower()

0     abe sapien
1       abin sur
2          alien
3     apocalypse
4      archangel
         ...
67        triton
68        ultron
69        vision
70          ymir
71          yoda
Name: name, Length: 72, dtype: object

# Cómo seguir

La documentación oficial es excelente. Un buen repaso es [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) y para profundizar, los links de la izquierda.